*{
    margin: 0px;    
}

.wrapper {
    width: 1020px;
    height: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid blue;
    box-sizing: border-box;
}

.logo {
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.7px;
  }
  
  .logo::after {
    content: "*";
    color: #f06c64;
  }

.header__navigation {
    display: flex;
    width: 371px;
    height: 9px;
    list-style-type: none;
}

.header__navigation-text {
    color: #ffffff;
    font-family: Lato;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    padding: 0px;
}

/*.header__navigation-text::before {
    content: "·";
    color:red;
    position: absolute;
    left: -16px;
}

.header__text:hover {
    color: #f06c64;
    cursor: pointer;
}

/* Ошибка в понимании макета, добавить HOVER
.text_colored {
        color: red;
}
*/