@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url("lato-v16-latin-300.woff2") format("woff2"),
    url("lato-v16-latin-300.woff") format("woff");
}
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url("lato-v16-latin-regular.woff2") format("woff2"),
    url("lato-v16-latin-regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url("lato-v16-latin-700.woff2") format("woff2"),
    url("lato-v16-latin-700.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
    src: url("lato-v16-latin-900.woff2") format("woff2"),
    url("lato-v16-latin-900.woff") format("woff");
  }